# Backend API Configuration
VITE_API_URL=http://localhost:8080

# Environment (development, production)
VITE_APP_ENV=development

# Google Maps API Integration 
VITE_GOOGLE_MAPS_API_KEY="your-google-maps-api-key"